.select2-selection.select2-selection--single{
   height:37px;
}
.select2-selection.select2-selection__rendered{
    margin-top:0;
}
.counter{
    width:30px;
    display:inline;
}
.ready{
    display:inline;
}
.count{
    display: inline;
    margin: 3px;
}
#paySum{
    font-size:1.8em;
}
.count{
    width:50px;
}
.sidebar-mini,.wrapper{
    background-color: #f4f6f9;
}
